*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    
    display: grid;  
     height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 2fr 1fr 1fr 1fr 0.9fr;
    grid-template-areas: 
    "nav nav nav nav"  
    "encabezado encabezado encabezado encabezado"
    "categorias categorias categorias categorias"
    "sliderbar main main main" 
    "sliderbar peluqueria peluqueria peluqueria "
    "sliderbar content1 content2 content3"
    "sliderbar content4 content5 content6"
    "footer footer footer footer";
    grid-gap: 0.2rem;

}

/* menu navbar*/

.nav{
    background-color: #DBF9F6;
    grid-area: nav;
    width: 100%;
    height: 90px;
    font-family: "Poppins", sans-serif;
    position: fixed;
    top:0;
    right: 0;
    z-index: 100;
  
}
.container_header{
    max-width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

.nav .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: trasnform 0.3s ease;
}

.nav .logo:hover img{
    transform: scale(1.1);
}

.nav .logo img{
    width: 90px;
}

.nav .container_nav{
    position: relative;
    height: 100%;
}

.navbar{
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar i{
    font-size: 16px;
    margin: 20px ;
    transition: 0.3ms;
    cursor: pointer;
}

.navbar i:hover{
    color:#4cf78d ;
}

.navbar ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar ul li{
    margin: 0px 20px;
    list-style: none;
    font-weight: 300;
}


.navbar ul li a{

    font-size: 16px;
    color:black;
    font-weight: 700;
    transition: 0.3ms;
    text-decoration: none;
}


.navbar ul li a:hover{
    color:#4cf78d ;
}



/*encabezado*/

.encabezado{
    background-color:#F8FF9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: encabezado ;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }


.encabezado p{
    margin-left: 20px;
}

.encabezado .encabezado_despacho{
    display: flex;
    justify-content:space-between;
    margin-right: 20px;
   align-items: center;
}


/* menu-contenido*/



.main{
   background-image: url(../img/Diseño\ De\ Perro2.jpg);
  background-size: contain;
    grid-area: main;
  
    
}

.container__total1{
    width: 100%;
    padding-bottom: 60px;
    font-family: "Poppins", sans-serif;
    margin-top: 100px;  
    
}

.container__total2{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container__total1 .container_info{
    max-width: 400px;
    margin-top: 70px;
    z-index: 2;
    
   
}


.container__total1 h1{
    max-width: 400px;
    font-size: 90px;
    font-weight: 900;
    color: black;
    font-family: "Poppins", sans-serif;

}

.container__total1 h2{
    font-size: 70px;
    font-weight: 900;
    color:aquamarine;
    font-family: "Poppins", sans-serif;
    margin-top: -30px;

}

.container__total1 p{
    margin-top: 10px;
    color: black;
    font-weight: 600;
}

.container__img{
   position: relative; 

}

.container__img img{
    position: absolute;
   margin-top: 13px;
    right: 0px;
    width: 580px;
}



.categorias{
  background-color: #DBF9F6;  
    grid-area: categorias;
    max-width: 95%;
    align-items: center;
    margin-top: 10px;
    margin-left: 38px;
    border-radius: 30px;

    
}

.containercards{
    padding: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    border-radius: 20px;
 }

 .containercards h3{
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
    transition: 0.3ms;
 }

 .containercards h3:hover{
    color: #4cf78d;
 }

 .containercards a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.3ms;
    
 }

.cartasimg img {
    width: 100px;
    border-radius: 100px;
    margin: 10px;
    transition: transform 0.3s ease ;
       }

.cartasimg:hover img{
    transform: scale(1.2);
}

/*silderbar*/

.sliderbar{
  background-color: #F8FF9E;
   grid-area: sliderbar;
   margin-top:50px;
   gap: 10px;
   align-items: center;
   border-radius: 30px;
  }

  .sliderbar h2{
    background-color: #4cf78d;
    font-size: 40px;
    font-weight: 500;
    max-width: 80%;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-left: 25px;
    border-radius: 30px;
    
  }

  .sliderbar h3{
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

 

.marca1{
   
    width: 250px;
    height: 300px;
    margin-top: 70px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    
}

.marca1 img{
    width: 100px;
    
}
.marca2{
   
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;
}

.marca2 img{
    width: 250px;
    height: 300px;
    border-radius: 40px;
}

.marca3{
    
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;

    }

 .marca3 img{
        width: 250px;
        height: 300px;
        border-radius: 40px;

   }

.marca4{
 
 width: 250px;
 height: 300px;
 margin-top: 50px;
margin-left: 30px;
}

.marca4 img{
    width: 250px;
    height: 300px;
    border-radius: 40px;

}

.contacto-adopcion{
    text-align: center;
}


.contacto-adopcion p{
    padding: 10px;
    color: black;
    font-size: 38px;
    font-weight: 700;
    text-align:center ;
    margin-top: 50px ;
    font-family: "Poppins", sans-serif;
    
   
    
}

.contacto-adopcion a{
    padding: 10px;
    margin-top: 40px;
    text-decoration: none;
    font-size: 20px;
    background-color: #4cf78d; 
    border-radius: 20px;  
    color: black;
    border: 1px solid black;
   
}

.contacto-adopcion a:hover{
   background-color: #DBF9F6;
   color: #4cf78d;
}


.peluqueria{
    grid-area: peluqueria;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin-top: 1opx;
    background-color: #F8FF9E;
    align-items: center;
    
}

.peluqueria .peluqueria_canina1 img{
    width: 450px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid  #4cf78d;
    transition: transform 0.3s ease;
}

.peluqueria .peluqueria_canina1:hover img{
    transform: scale(1.2);
}

.peluqueria .peluqueria_canina2 img{
    width: 510px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid  #4cf78d;
    transition: transform 0.3s ease;

}

.peluqueria .peluqueria_canina2:hover img{

    transform: scale(1.2);
}

.peluqueria h4{
    margin-bottom: 10px;
}


/*contenido*/

.content1{
   
    grid-area: content1;
    color:black;
    font-size: 28PX;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.content1 img{
    width: 180px;
}
.content1 p{
    color: #4cf78d;
    font-weight: 700;
}



.content2{
    background-color: #DBF9F6;
    grid-area: content2;
    border-radius: 30px;
    
}


.carta-img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    position: relative;
    cursor: pointer;
}

.carta-img img{
    width: 200px;
    display: block;
     height: 200px;
     border-radius: 10px;
     border: solid 1px #4cf78d;
     transition: transform 0,3s ease;
     
}

.carta-img:hover img{
    transform: scale(1.1);
}
.carta-img h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}
.descripcion-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.descripcion-carta p{
   
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family:"Poppins", sans-serif;
}

.descripcion-carta .btn{
   text-decoration: none;
   background-color: #4cf78d;
   border-radius: 20px;
   border: solid 1px  black;
   max-width: 28%;
   align-items: center;
   margin-bottom: 10px;
   color: black;
   padding: 8px;
   transition: 0.3S;
}

.btn:hover{
  background-color: #DBF9F6;
  color: #4cf78d;
}


.content3{
    background-color: #DBF9F6;
    grid-area: content3;
   
    border-radius: 30px;
    

}

.content4{
    background-color: #DBF9F6;
    grid-area: content4;
    
    border-radius: 30px;
}

.content5{
    background-color: #DBF9F6;
    grid-area: content5;
    
    border-radius: 30px;
}

.content6{
    background-color: #DBF9F6;
    grid-area: content6;
    
    border-radius: 30px;
}


/*productos*/

.container1{
    
    display: grid;  
     height: 100%;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 1fr 1fr 1.5fr 0.6fr 0.9fr;
    grid-template-areas: 
    "nav nav nav nav"  
    "encabezado encabezado encabezado encabezado"
    "marcas marcas marcas marcas"
    "destacados destacados destacados destacados" 
    " medicina medicina medicina medicina"
    " productos productos productos productos "
    "invierno invierno invierno invierno "
    "footer footer footer footer";
    grid-gap: 0.2rem;

}

.nuestras-marcas{
    grid-area: marcas;
    font-family:"Poppins", sans-serif;
    background-color: #DBF9F6;  
    max-width: 95%;
    align-items: center;
    margin-top: 10px;
    margin-left: 38px;
    border-radius: 30px;

}

.nuestras-marcas .titulo-marcas{
   max-width: 40%;
   background-color: #F8FF9E;
   margin-left: 375px;
   margin-top: 10px;
   border-radius: 30px;
}
.nuestras-marcas h3{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family:"Poppins", sans-serif;
    padding: 10px;
}

   .marcas-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
   }

   .marcas-img  img {
    width: 100px;
    margin: 20px;
    border-radius: 100px;
    border: 1px solid black;
    transition: transform 0.3s ease ;
       }

.marcas-img:hover img{
    transform: scale(1.2);
}


.destacados{
    grid-area: destacados;

}

.destacados-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "destacados1 destacados2 destacados3";
    gap: 0.5rem;
}

.destacados1{
    grid-area: destacados1;
    margin-top: 20px;
    text-align: center;
    }
.destacados-categorias{
    margin: 5px;
    text-decoration: none;
    font-size: 22px;
    font-family:"Poppins", sans-serif;
    justify-content: space-between;
    
}
.destacados-categorias h3{
    color: black;
}

 .destacados-categorias img {
    width: 100px;
    
}
 .destacados-categorias:hover img{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


.destacados2{
    grid-area: destacados2;
    margin-top: 20px;
    text-align: center;
    color: black;
}

.destacados3{
    grid-area: destacados3;
    margin-top: 20px;
    text-align: center;
}

.medicina-veterinaria{
    grid-area: medicina;
    background-image: url(../img/veterinaria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: end;
   
}

.medicina-veterinaria h3{
    margin-top: 90px;
    margin-right: 20px;
    font-size: 40px;
    padding: 2px;
    font-weight: 900;
    font-family:"Poppins", sans-serif;
    
}

.medicina-veterinaria a{
    text-decoration: none;
    margin-right: 90px;
    font-size: 20px;
    font-weight: 900;
    font-family:"Poppins", sans-serif;
    padding: 8px;
    background-color: #4caf50;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    
}

.medicina-veterinaria a:hover{
    background-color: white;
}



.nuevos-productos{
    grid-area: productos;
    

    }

    

.lonuevo-container{
    margin-top: 5px;
    display: grid;
    height: 100%;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.9fr;
    grid-template-areas: 
    "lonuevo nuevo1 nuevo2"
    "lonuevo nuevo3 nuevo4";
    gap: 0.5rem;
}

.lonuevo{
    grid-area: lonuevo;
    color:black;
   

    }

.lonuevo h3{
    margin-top: 160px;
    font-size: 100PX;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.nuevo1{
    background-color:#DBF9F6;
     grid-area: nuevo1 ;
     border: solid 1px #4cf78d;
}

.nuevo2{
    background-color: #DBF9F6;
    grid-area: nuevo2;
    border: solid 1px #4cf78d;
}

.nuevo3{
    background-color:#DBF9F6;
    grid-area: nuevo3;
    border: solid 1px #4cf78d;
}

.nuevo4{
   background-color: #DBF9F6;
    grid-area: nuevo4;
    border: solid 1px #4cf78d;
}


.invierno{
    grid-area: invierno;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.invierno a img{
    width: 300px;
    transition: transform 0.3s ease;
}

.invierno a:hover img{
    transform: scale(1.2);
}



.formularioImagen{
    width: 100%;
    padding-bottom: 60px;
    font-family: "Poppins", sans-serif;
    margin-top: 150px;  
    }
 
.containerFormimg{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #F8FF9E;
    border-radius: 20px;
}

.formularioContacto{
    width: 400px;
    margin-left: 50px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    z-index: 2;
    
}

.formularioContacto h3{
    text-align: center;
    margin-bottom: 20px;
}

.formularioContacto label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

.imagenQr{
    position: relative;
}

.imagenQr img{
    position: absolute;
    bottom: 100px;
    right: 0px;
    width: 400px;
    border-radius: 40px;
}

.contactoTitulo h1{
    margin-top: 100px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: black;
}

.contactoTitulo h2{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: aquamarine;
}

.imagenQr .tituloApp{
    color:black;
    margin-right: 28px;
    
}

.menusucursales{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px;
    
}

.menutiendas h1{
    font-size: 40px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    color: black;
    text-align: center;
}

.titulo-tiendas h2{
    font-size: 30px;
    font-weight: 220;
    text-align: center;
    font-family: "Poppins", sans-serif;


}
.menutiendas{
    margin-top: 100px;
}
.menutiendas .horario-tiendas p {
   font-size: 30px;
   font-weight: 200;
    text-align: center;

}

.blog-container{
    display: grid;  
    height: 100%;
   grid-template-rows: 0.2fr 0.2fr 0.5fr 0.7fr 0.8fr 0.8fr 0.8fr 0.9fr;
   grid-template-areas: 
   "nav nav nav nav"  
   "encabezado encabezado encabezado encabezado"
   "blog blog blog blog"
   "articulo1 articulo1 articulo1 articulo1" 
   " articulo2 articulo2 articulo2 articulo2"
   "articulo3 articulo3 articulo3 articulo3"
   "articulo4 articulo4 articulo4 articulo4 "
   "footer footer footer footer";
   grid-gap: 0.2rem;

   }


   .blog{
    grid-area: blog;
   
   }

   .blog h1{
    font-size: 60px;
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
   }

   .blog h2{
    font-size: 40px;
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #4cf78d;
   }
   

   .articulo1{
    grid-area: articulo1;
    background-color: #F8FF9E;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
   }
   .explicacion{
       text-align: center;
      }

   .explicacion h3{
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
   }

   .explicacion p{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-align: start;
    margin: 10px;
   }

   .explicacion i{
    width: 20px;
    margin-top: 20px;
    cursor: pointer;

}
    .explicacion ul{
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
        text-align: center;
        list-style: none;
    }
   

   
   .imagen-blog img{
    width: 300px;
    border-radius: 30px;
    align-items: center;
    
   }

   .articulo2{
    grid-area: articulo2;
    background-color: #F8FF9E;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
   

   }

   .articulo3{
    grid-area: articulo3;
    background-color: #F8FF9E;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
    

   }
   
   .articulo4{
    grid-area: articulo4;
    background-color:#F8FF9E;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
    

   }




/*footer*/
.footer{
    background-color: #DBF9F6;
    grid-area: footer;
  
}

footer{
    width: 100%;
    padding: 10px 0px;
    
    
}

.containerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin:auto;
}

.boxFooter{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;

}

.boxFooter .logo:hover img{
   transform: scale(1.1);
}


.logo img {
width: 70px;
cursor: pointer;
}

.boxFooter .textos1{
    max-width: 355px;
    margin-top: 22px;
    font-weight: 500;
    font-size: 16px;
    font-family:"Poppins", sans-serif;
    
}


.boxFooter h2{
    margin-bottom: 30px;
    font-weight: 700;
    color:black;
    cursor: pointer;

}

.boxFooter a{
    margin-top:10px;
    font-weight: 600;
    text-decoration: none;
    color: black

    }

.boxFooter a:hover{
    color:#4caf50
}

a
.boxFooter a .fa{
    font-size: 20px;

}

footer .newslatter{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

footer .newslatter h3{
    font-weight: 600;
    color: #0c0b0b;
    margin: auto;
}
footer .formulario{
      font-family: "Holtwood One SC", serif;
        color: black;
        margin-top: 20px;
        text-align: center;
        padding: 20px 40px;
       
}

footer .formulario .newslatterBoton{
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.botonNewslatter{
    width: 5%;
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.derechosAutor{
    font-weight: 400;
    color:black;
    margin:30px;
    text-align: center;
}

.derechosAutor p{
    margin-top: 10px;
}







@media  screen and (max-width:550px){
    
    .container{
    
        display: grid;  
         height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows:  0.1px 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas: 
        "nav"  
        "encabezado"
        "categorias"
        " main" 
        "peluqueria"
        "sliderbar"
        "content1 "
        "content2 "
        "content3"
        "content4"
         "content5"
        "content6"
        "footer ";
       
    
    }

    .nav{
        background-color: #DBF9F6;
        grid-area: nav;
        width: 100%;
        height: 90px;
        font-family: "Poppins", sans-serif;
        position: fixed;
        top:0;
        right: 0;
        z-index: 100;
      
    }
    .container_header{
        height: 100%;
        display: flex;
        margin: auto;
    }
    
    .nav .logo{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: trasnform 0.3s ease;
    }
    
    .nav .logo:hover img{
        transform: scale(1.1);
    }
    
    .nav .logo img{
        width: 90px;
    }
    
    .nav .container_nav{
        position: relative;
        height: 100%;
    }
    
    .navbar{
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .navbar i{
        font-size: 16px;
        margin: 20px ;
        transition: 0.3ms;
        cursor: pointer;
    }
    
    .navbar i:hover{
        color:#4cf78d ;
    }
    
    .navbar ul{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .navbar ul li{
        margin: 0px 20px;
        list-style: none;
        font-weight: 300;
    }
    
    
    .navbar ul li a{
    
        font-size: 16px;
        color:black;
        font-weight: 700;
        transition: 0.3ms;
        text-decoration: none;
    }
    
    
    .navbar ul li a:hover{
        color:#4cf78d ;
    }
    
    
    
    /*encabezado*/
    
    .encabezado{
        background-color:#F8FF9E;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        grid-area: encabezado ;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
    
    
    .encabezado p{
        margin-left: 20px;
    }
    
    .encabezado .encabezado_despacho{
        display: flex;
        justify-content:start;
        margin-right: 20px;
       align-items: center;
    }
    
    
    /* menu-contenido*/
    
    
    
    .main{
       background-image: url(../img/Diseño\ De\ Perro2.jpg);
      background-size: contain;
        grid-area: main;
      
        
    }
    
    .container__total1{
        width: 100%;
        padding-bottom: 60px;
        font-family: "Poppins", sans-serif;
        margin-top: 100px;  
        
    }
    
    .container__total2{
        max-width: 1100px;
        margin: auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    .container__total1 .container_info{
        max-width: 400px;
        margin-top: 70px;
        z-index: 2;
        
       
    }
    
    
    .container__total1 h1{
        max-width: 400px;
        font-size: 90px;
        font-weight: 900;
        color: black;
        font-family: "Poppins", sans-serif;
    
    }
    
    .container__total1 h2{
        font-size: 70px;
        font-weight: 900;
        color:aquamarine;
        font-family: "Poppins", sans-serif;
        margin-top: -30px;
    
    }
    
    .container__total1 p{
        margin-top: 10px;
        color: black;
        font-weight: 600;
    }
    
    .container__img{
       position: relative; 
    
    }
    
    .container__img img{
        position: absolute;
       margin-top: 13px;
        right: 0px;
        width: 580px;
    }
    
    
    
    .categorias{
      background-color: #DBF9F6;  
        grid-area: categorias;
        max-width: 95%;
        align-items: center;
        margin-top: 10px;
        margin-left: 38px;
        border-radius: 30px;
    
        
    }
    
    .containercards{
        padding: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        border-radius: 20px;
     }
    
     .containercards h3{
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        margin-top: 10px;
        color: black;
        font-family: "Poppins", sans-serif;
        transition: 0.3ms;
     }
    
     .containercards h3:hover{
        color: #4cf78d;
     }
    
     .containercards a{
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        transition: 0.3ms;
        
     }
    
    .cartasimg img {
        width: 100px;
        border-radius: 100px;
        margin: 10px;
        transition: transform 0.3s ease ;
           }
    
    .cartasimg:hover img{
        transform: scale(1.2);
    }
    
    /*silderbar*/
    
    .sliderbar{
      background-color: #F8FF9E;
       grid-area: sliderbar;
       margin-top:50px;
       gap: 10px;
       align-items: center;
       border-radius: 30px;
      }
    
      .sliderbar h2{
        background-color: #4cf78d;
        font-size: 40px;
        font-weight: 500;
        max-width: 80%;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-left: 25px;
        border-radius: 30px;
        
      }
    
      .sliderbar h3{
        font-size: 30px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        text-align: center;
      }
    
     
    
    .marca1{
       
        width: 250px;
        height: 300px;
        margin-top: 70px;
        margin-left: 30px;
        text-align: center;
        justify-content: center;
        
    }
    
    .marca1 img{
        width: 100px;
        
    }
    .marca2{
       
        width: 250px;
        height: 300px;
        margin-top: 50px;
        margin-left: 30px;
    }
    
    .marca2 img{
        width: 250px;
        height: 300px;
        border-radius: 40px;
    }
    
    .marca3{
        
        width: 250px;
        height: 300px;
        margin-top: 50px;
        margin-left: 30px;
    
        }
    
     .marca3 img{
            width: 250px;
            height: 300px;
            border-radius: 40px;
    
       }
    
    .marca4{
     
     width: 250px;
     height: 300px;
     margin-top: 50px;
    margin-left: 30px;
    }
    
    .marca4 img{
        width: 250px;
        height: 300px;
        border-radius: 40px;
    
    }
    
    .contacto-adopcion{
        text-align: center;
    }
    
    
    .contacto-adopcion p{
        padding: 10px;
        color: black;
        font-size: 38px;
        font-weight: 700;
        text-align:center ;
        margin-top: 50px ;
        font-family: "Poppins", sans-serif;
        
       
        
    }
    
    .contacto-adopcion a{
        padding: 10px;
        margin-top: 40px;
        text-decoration: none;
        font-size: 20px;
        background-color: #4cf78d; 
        border-radius: 20px;  
        color: black;
        border: 1px solid black;
       
    }
    
    .contacto-adopcion a:hover{
       background-color: #DBF9F6;
       color: #4cf78d;
    }
    
    
    .peluqueria{
        grid-area: peluqueria;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        margin-top: 1opx;
        background-color: #F8FF9E;
        align-items: center;
        
    }
    
    .peluqueria .peluqueria_canina1 img{
        width: 450px;
        margin-top: 5px;
        margin-left: 10px;
        border-radius: 20px;
        cursor: pointer;
        border: 1px solid  #4cf78d;
        transition: transform 0.3s ease;
    }
    
    .peluqueria .peluqueria_canina1:hover img{
        transform: scale(1.2);
    }
    
    .peluqueria .peluqueria_canina2 img{
        width: 510px;
        margin-top: 5px;
        margin-right: 10px;
        border-radius: 20px;
        cursor: pointer;
        border: 1px solid  #4cf78d;
        transition: transform 0.3s ease;
    
    }
    
    .peluqueria .peluqueria_canina2:hover img{
    
        transform: scale(1.2);
    }
    
    .peluqueria h4{
        margin-bottom: 10px;
    }
    
    
    /*contenido*/
    
    .content1{
       
        grid-area: content1;
        color:black;
        font-size: 28PX;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }
    .content1 img{
        width: 180px;
    }
    .content1 p{
        color: #4cf78d;
        font-weight: 700;
    }
    
    
    
    .content2{
        background-color: #DBF9F6;
        grid-area: content2;
        border-radius: 30px;
        
    }
    
    
    .carta-img{
        width: 100%;
        height: 300px;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 2px;
        position: relative;
        cursor: pointer;
    }
    
    .carta-img img{
        width: 200px;
        display: block;
         height: 200px;
         border-radius: 10px;
         border: solid 1px #4cf78d;
         transition: transform 0,3s ease;
         
    }
    
    .carta-img:hover img{
        transform: scale(1.1);
    }
    .carta-img h3{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 8px;
    }
    .descripcion-carta{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .descripcion-carta p{
       
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        font-family:"Poppins", sans-serif;
    }
    
    .descripcion-carta .btn{
       text-decoration: none;
       background-color: #4cf78d;
       border-radius: 20px;
       border: solid 1px  black;
       max-width: 28%;
       align-items: center;
       margin-bottom: 10px;
       color: black;
       padding: 8px;
       transition: 0.3S;
    }
    
    .btn:hover{
      background-color: #DBF9F6;
      color: #4cf78d;
    }
    
    
    .content3{
        background-color: #DBF9F6;
        grid-area: content3;
       
        border-radius: 30px;
        
    
    }
    
    .content4{
        background-color: #DBF9F6;
        grid-area: content4;
        
        border-radius: 30px;
    }
    
    .content5{
        background-color: #DBF9F6;
        grid-area: content5;
        
        border-radius: 30px;
    }
    
    .content6{
        background-color: #DBF9F6;
        grid-area: content6;
        
        border-radius: 30px;
    }
    
    
    /*productos*/
    
    .container1{
        
        display: grid;  
         height: 100%;
        grid-template-rows: 0.2fr 0.2fr 0.8fr 1fr 1fr 1.5fr 0.6fr 0.9fr;
        grid-template-areas: 
        "nav nav nav nav"  
        "encabezado encabezado encabezado encabezado"
        "marcas marcas marcas marcas"
        "destacados destacados destacados destacados" 
        " medicina medicina medicina medicina"
        " productos productos productos productos "
        "invierno invierno invierno invierno "
        "footer footer footer footer";
        grid-gap: 0.2rem;
    
    }
    
    .nuestras-marcas{
        grid-area: marcas;
        font-family:"Poppins", sans-serif;
        background-color: #DBF9F6;  
        max-width: 95%;
        align-items: center;
        margin-top: 10px;
        margin-left: 38px;
        border-radius: 30px;
    
    }
    
    .nuestras-marcas .titulo-marcas{
       max-width: 40%;
       background-color: #F8FF9E;
       margin-left: 375px;
       margin-top: 10px;
       border-radius: 30px;
    }
    .nuestras-marcas h3{
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        font-family:"Poppins", sans-serif;
        padding: 10px;
    }
    
       .marcas-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
       }
    
       .marcas-img  img {
        width: 100px;
        margin: 20px;
        border-radius: 100px;
        border: 1px solid black;
        transition: transform 0.3s ease ;
           }
    
    .marcas-img:hover img{
        transform: scale(1.2);
    }
    
    
    .destacados{
        grid-area: destacados;
    
    }
    
    .destacados-container{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "destacados1 destacados2 destacados3";
        gap: 0.5rem;
    }
    
    .destacados1{
        grid-area: destacados1;
        margin-top: 20px;
        text-align: center;
        }
    .destacados-categorias{
        margin: 5px;
        text-decoration: none;
        font-size: 22px;
        font-family:"Poppins", sans-serif;
        justify-content: space-between;
        
    }
    .destacados-categorias h3{
        color: black;
    }
    
     .destacados-categorias img {
        width: 100px;
        
    }
     .destacados-categorias:hover img{
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }
    
    
    .destacados2{
        grid-area: destacados2;
        margin-top: 20px;
        text-align: center;
        color: black;
    }
    
    .destacados3{
        grid-area: destacados3;
        margin-top: 20px;
        text-align: center;
    }
    
    .medicina-veterinaria{
        grid-area: medicina;
        background-image: url(../img/veterinaria.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        text-align: end;
       
    }
    
    .medicina-veterinaria h3{
        margin-top: 90px;
        margin-right: 20px;
        font-size: 40px;
        padding: 2px;
        font-weight: 900;
        font-family:"Poppins", sans-serif;
        
    }
    
    .medicina-veterinaria a{
        text-decoration: none;
        margin-right: 90px;
        font-size: 20px;
        font-weight: 900;
        font-family:"Poppins", sans-serif;
        padding: 8px;
        background-color: #4caf50;
        border-radius: 20px;
        border: 1px solid black;
        color: black;
        
    }
    
    .medicina-veterinaria a:hover{
        background-color: white;
    }
    
    
    
    .nuevos-productos{
        grid-area: productos;
        
    
        }
    
        
    
    .lonuevo-container{
        margin-top: 5px;
        display: grid;
        height: 100%;
        grid-template-columns: 0.8fr 1fr 1fr;
        grid-template-rows: 0.8fr 0.9fr;
        grid-template-areas: 
        "lonuevo nuevo1 nuevo2"
        "lonuevo nuevo3 nuevo4";
        gap: 0.5rem;
    }
    
    .lonuevo{
        grid-area: lonuevo;
        color:black;
       
    
        }
    
    .lonuevo h3{
        margin-top: 160px;
        font-size: 100PX;
        font-weight: 900;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }
    
    .nuevo1{
        background-color:#DBF9F6;
         grid-area: nuevo1 ;
         border: solid 1px #4cf78d;
    }
    
    .nuevo2{
        background-color: #DBF9F6;
        grid-area: nuevo2;
        border: solid 1px #4cf78d;
    }
    
    .nuevo3{
        background-color:#DBF9F6;
        grid-area: nuevo3;
        border: solid 1px #4cf78d;
    }
    
    .nuevo4{
       background-color: #DBF9F6;
        grid-area: nuevo4;
        border: solid 1px #4cf78d;
    }
    
    
    .invierno{
        grid-area: invierno;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }
    
    .invierno a img{
        width: 300px;
        transition: transform 0.3s ease;
    }
    
    .invierno a:hover img{
        transform: scale(1.2);
    }
    
    
    
    .formularioImagen{
        width: 100%;
        padding-bottom: 60px;
        font-family: "Poppins", sans-serif;
        margin-top: 150px;  
        }
     
    .containerFormimg{
        max-width: 1100px;
        margin: auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #F8FF9E;
        border-radius: 20px;
    }
    
    .formularioContacto{
        width: 400px;
        margin-left: 50px;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
        z-index: 2;
        
    }
    
    .formularioContacto h3{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .formularioContacto label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
    
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
    
      input[type="submit"] {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    
      input[type="submit"]:hover {
        background-color: #45a049;
      }
    
    .imagenQr{
        position: relative;
    }
    
    .imagenQr img{
        position: absolute;
        bottom: 100px;
        right: 0px;
        width: 400px;
        border-radius: 40px;
    }
    
    .contactoTitulo h1{
        margin-top: 100px;
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        font-family: "Poppins", sans-serif;
        color: black;
    }
    
    .contactoTitulo h2{
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        font-family: "Poppins", sans-serif;
        color: aquamarine;
    }
    
    .imagenQr .tituloApp{
        color:black;
        margin-right: 28px;
        
    }
    
    .menusucursales{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px;
        
    }
    
    .menutiendas h1{
        font-size: 40px;
        font-weight: 900;
        font-family: "Poppins", sans-serif;
        color: black;
        text-align: center;
    }
    
    .titulo-tiendas h2{
        font-size: 30px;
        font-weight: 220;
        text-align: center;
        font-family: "Poppins", sans-serif;
    
    
    }
    .menutiendas{
        margin-top: 100px;
    }
    .menutiendas .horario-tiendas p {
       font-size: 30px;
       font-weight: 200;
        text-align: center;
    
    }
    
    .blog-container{
        display: grid;  
        height: 100%;
       grid-template-rows: 0.2fr 0.2fr 0.5fr 0.7fr 0.8fr 0.8fr 0.8fr 0.9fr;
       grid-template-areas: 
       "nav nav nav nav"  
       "encabezado encabezado encabezado encabezado"
       "blog blog blog blog"
       "articulo1 articulo1 articulo1 articulo1" 
       " articulo2 articulo2 articulo2 articulo2"
       "articulo3 articulo3 articulo3 articulo3"
       "articulo4 articulo4 articulo4 articulo4 "
       "footer footer footer footer";
       grid-gap: 0.2rem;
    
       }
    
    
       .blog{
        grid-area: blog;
       
       }
    
       .blog h1{
        font-size: 60px;
        font-weight: 900;
        margin-top: 10px;
        text-align: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
       }
    
       .blog h2{
        font-size: 40px;
        font-weight: 900;
        margin-top: 10px;
        text-align: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
        color: #4cf78d;
       }
       
    
       .articulo1{
        grid-area: articulo1;
        background-color: #F8FF9E;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        margin: 10px;
        align-items: center;
       }
       .explicacion{
           text-align: center;
          }
    
       .explicacion h3{
        font-size: 30px;
        font-weight: 900;
        margin-top: 10px;
        text-align: center;
        font-family: "Poppins", sans-serif;
       }
    
       .explicacion p{
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        text-align: start;
        margin: 10px;
       }
    
       .explicacion i{
        width: 20px;
        margin-top: 20px;
        cursor: pointer;
    
    }
        .explicacion ul{
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
            text-align: center;
            list-style: none;
        }
       
    
       
       .imagen-blog img{
        width: 300px;
        border-radius: 30px;
        align-items: center;
        
       }
    
       .articulo2{
        grid-area: articulo2;
        background-color: #F8FF9E;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        margin: 10px;
        align-items: center;
       
    
       }
    
       .articulo3{
        grid-area: articulo3;
        background-color: #F8FF9E;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        margin: 10px;
        align-items: center;
        
    
       }
       
       .articulo4{
        grid-area: articulo4;
        background-color:#F8FF9E;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        margin: 10px;
        align-items: center;
        
    
       }
    
    
    
    
    /*footer*/
    .footer{
        background-color: #DBF9F6;
        grid-area: footer;
      
    }
    
    footer{
        width: 100%;
        padding: 10px 0px;
       
        
        
    }
    
    .containerFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin:auto;
    }
    
    .boxFooter{
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        transition: transform 0.3s ease;
    
    }
    
    .boxFooter .logo:hover img{
       transform: scale(1.1);
    }
    
    
    .logo img {
    width: 70px;
    cursor: pointer;
    }
    
    .boxFooter .textos1{
        max-width: 355px;
        margin-top: 22px;
        font-weight: 500;
        font-size: 16px;
        font-family:"Poppins", sans-serif;
        
    }
    
    
    .boxFooter h2{
        margin-bottom: 30px;
        font-weight: 700;
        color:black;
        cursor: pointer;
    
    }
    
    .boxFooter a{
        margin-top:10px;
        font-weight: 600;
        text-decoration: none;
        color: black
    
        }
    
    .boxFooter a:hover{
        color:#4caf50
    }
    
    a
    .boxFooter a .fa{
        font-size: 20px;
    
    }
    
    footer .newslatter{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0 40px;
    }
    
    footer .newslatter h3{
        font-weight: 600;
        color: #0c0b0b;
        margin: auto;
    }
    footer .formulario{
          font-family: "Holtwood One SC", serif;
            color: black;
            margin-top: 20px;
            text-align: center;
            padding: 20px 40px;
           
    }
    
    footer .formulario .newslatterBoton{
        width: 20%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }
    
    .botonNewslatter{
        width: 5%;
        margin-top: 10px;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .derechosAutor{
        font-weight: 400;
        color:black;
        margin:30px;
        text-align: center;
    }
    
    .derechosAutor p{
        margin-top: 10px;
    }
    

    

    
}